<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="gappx">
    <h1>Full-stack Developer Challenge</h1>
    <span><b>Creado por: John Alejandro Huertas Moreno, Ingeniero Electronico</b></span>
    <span><b>Formulario para crear empleado</b></span>
    <br>
    <form [formGroup]="formulario">
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px" style="width: 100%;">

            <div fxFlex="20" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field appearance="outline">
                    <mat-label>Número de identidad</mat-label>
                    <input matInput onpaste="return false" placeholder="Ingrese # de cc" formControlName="ID" required
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode <= 8 || event.charCode == 13 "
                    maxlength="4" autocomplete="off">
                </mat-form-field>
            </div>
            <div fxFlex="20" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre de empleado</mat-label>
                    <input matInput placeholder="Pepito Perez" formControlName="NOMBRE" required autocomplete="off">
                </mat-form-field>
            </div>
            <div fxFlex="20" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field appearance="outline">
                    <mat-label>Cargo</mat-label>
                    <input matInput placeholder="Test, Develop, etc" formControlName="CARGO" required autocomplete="off">
                </mat-form-field>
            </div>
            <div fxFlex="20" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="gappx">
                <mat-form-field appearance="outline">
                    <mat-label>Número de cc de jefe</mat-label>
                    <input matInput onpaste="return false" placeholder="Ingrese # de cc" formControlName="JEFE" required
                    onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode <= 8 || event.charCode == 13 "
                    maxlength="4" autocomplete="off">
                </mat-form-field>
            </div>
        </div>
    </form>
    <div fxFlex="20" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="gappx">
        <button mat-raised-button color="primary" (click)="crearEmpleado()" [disabled]=habilitarCrear()>Crear Empleado</button>
    </div>
    <br>
    <div style="width: 100%; padding: 20px;" fxLayoutAlign="start start">
        <table fxFill mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
    
            <!-- Position id -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> N°. Cedula </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
    
            <!-- Name nombre -->
            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
    
            <!-- Weight cargo -->
            <ng-container matColumnDef="cargo">
                <th mat-header-cell *matHeaderCellDef> Cargo </th>
                <td mat-cell *matCellDef="let element"> {{element.cargo}} </td>
            </ng-container>
    
            <!-- Weight jefe -->
            <ng-container matColumnDef="jefe">
                <th mat-header-cell *matHeaderCellDef> Jefe </th>
                <td mat-cell *matCellDef="let element"> {{element.jefe}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>


</div>